In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn as sk
from sklearn.datasets import fetch_openml

In [52]:
# import the dataset 
data = pd.read_csv("E:\DATA SCIENCE\ANALATICLABS\MACHINE LEARNING\CLASS\class_notes\class_10\ML OCT NOI 22 _ Class 10 Machine Learning using Python (NOI) NOV 2022\german_credit_data - 1671293175695.csv")

In [53]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

In [54]:
# get the risk into dummy variables

data['Risk'] = np.where(data['Risk']=='good',0,1)

In [55]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,0
1,22,female,2,own,little,moderate,5951,48,radio/TV,1
2,49,male,1,own,little,NaN,2096,12,education,0
3,45,male,2,free,little,little,7882,42,furniture/equipment,0
4,53,male,2,free,little,little,4870,24,car,1

In [56]:
labels = data['Risk']
X_data = data.drop(columns=['Risk'])
numeric_col = X_data.select_dtypes(include=['int','float']).columns
categorical_col = X_data.select_dtypes(exclude=['int','float']).columns

In [57]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_train = train_test_split(X_data,labels,stratify=labels,random_state=42)

In [58]:
X_train.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
350,23,female,2,rent,little,NaN,1236,9,domestic appliances
0,67,male,2,own,NaN,little,1169,6,radio/TV
637,21,male,2,own,little,NaN,15653,60,radio/TV
341,26,female,1,rent,little,little,3599,21,furniture/equipment
626,41,male,2,own,little,rich,2116,6,furniture/equipment

# now using the pipeline
1. preprocessor (imputation , standardization , featurespreprocessing )
2. sampling (smote)
3. models (logestic regression , random sampling .......)

In [69]:
from imblearn.pipeline import make_pipeline,Pipeline
from sklearn.pipeline import Pipeline

In [70]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\asus\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\asus\anaconda3\lib\site-packages (from imblearn) (0.10.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\asus\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\asus\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\asus\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\asus\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [71]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler , MinMaxScaler

In [72]:
numeric_trans = Pipeline(steps=[('imputer',SimpleImputer(strategy="median")),('Standardization',StandardScaler())])

In [73]:
from sklearn.preprocessing import OneHotEncoder

In [74]:
categorical_col

Index(['Sex', 'Housing', 'Saving accounts', 'Checking account', 'Purpose'], dtype='object')

In [75]:
numeric_col

Index(['Age', 'Job', 'Credit amount', 'Duration'], dtype='object')

In [76]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,0
1,22,female,2,own,little,moderate,5951,48,radio/TV,1
2,49,male,1,own,little,NaN,2096,12,education,0
3,45,male,2,free,little,little,7882,42,furniture/equipment,0
4,53,male,2,free,little,little,4870,24,car,1

In [86]:
categorical_transformer=Pipeline(steps=[('imputer',SimpleImputer(strategy='constant',fill_value='missing')),
                                       ('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [87]:
preprocessor = ColumnTransformer(transformers=[('num',numeric_trans,numeric_col),('cat',categorical_transformer,categorical_col),],remainder='passthrough')

In [110]:
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('num',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('Standardization',
                                                  StandardScaler())]),
                                 Index(['Age', 'Job', 'Credit amount', 'Duration'], dtype='object')),
                                ('cat',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(fill_value='missing',
                                                                strategy='constant')),
                                                 ('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 Index(['Sex', 'Housing', 'Saving accounts', 'Checking account', 'Purpose'], dtype='object'))])

In [109]:
print(preprocessor)

ColumnTransformer(remainder='passthrough',
                  transformers=[('num',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('Standardization',
                                                  StandardScaler())]),
                                 Index(['Age', 'Job', 'Credit amount', 'Duration'], dtype='object')),
                                ('cat',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(fill_value='missing',
                                                                strategy='constant')),
                                                 ('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 Index(['Sex', 'Housing', 'Saving accounts', 'Checking account', 'Purpose'], dtype='object'))])

In [101]:
from imblearn.over_sampling import SMOTE

In [102]:
sm = SMOTE(k_neighbors=10)

In [103]:
from sklearn.ensemble import RandomForestClassifier

In [104]:
model1= RandomForestClassifier()

In [105]:
pipe1 = make_pipeline(preprocessor,sm,model1)

In [106]:
pipe1

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('Standardization',
                                                                   StandardScaler())]),
                                                  Index(['Age', 'Job', 'Credit amount', 'Duration'], dtype='object')),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(fill_value='missing',
                                                                                 strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  Index(['Sex', 'Housing', 'Saving accounts', 'Checking account', 'Purpose'], dtype='object'))])),
                ('smote', SMOTE(k_neighbors=10)),
                ('randomforestclassifier', RandomForestClassifier())])

NameError: name 'pipelines' is not defined

In [108]:
pip install pipeline

Requirement already satisfied: pipeline in c:\users\asus\anaconda3\lib\site-packages (0.1.0)
Note: you may need to restart the kernel to use updated packages.